/output_parallel.jpg
/output_advanced.jpg
/output.jpg
/output_sequential.jpg
/benchmark_images/
/build/
/tmp/
/Presentazione/
/Presentazione/figure/
/Presentazione/beamerthemesintef.sty
/Presentazione/assets/
/Presentazione/results/
/Presentazione/main.tex
/Presentazione/image_filters_presentation.tex
/Presentazione/LICENSE
/Presentazione/sintefcolor.sty
